<section  class="headerCarousel" id="headerSection">
   
      <div id="carouselHeader" class="carousel slide" data-ride="carousel">
      
        <ol class="carousel-indicators" id='carousel-indicators-id'>
          {% comment %} <li data-target="#carouselHeader" data-slide-to="0" class="active"></li>
          <li data-target="#carouselHeader" data-slide-to="1"></li> {% endcomment %}
       </ol>
        <div class="carousel-inner viewables" role="listbox" id="carousel-inner-id">
         
          
        </div>

        <a class="carousel-control-prev" href="#carouselHeader" role="button" data-slide="prev">
          <div class="nav-icon-out">
            <h1 class="carousel-control-prev-icon carousel-control-icon-custom" ></h1>
          </div>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselHeader" role="button" data-slide="next">
        <div class="nav-icon-out">
          <h1 class="carousel-control-next-icon carousel-control-icon-custom" ></h1>
        </div>
          <span class="sr-only">Next</span>
        </a>
      
      </div>
</section>
