  <!-- ======= Footer ======= -->
  {% load menu_tags %}
  <footer id="footer">
    <div class="container">
      <h3>Personal</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      {% flat_menu max_levels=1 handle='social-link' template="home/social/social_home_template.html" %}
      <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
       
      </div>
    </div>
  </footer><!-- End Footer -->