{% load render_bundle from webpack_loader %}
<div class="projects container" data-url-project='{{api_url}}' >
  <div class="filters">
    <ul class="inner-filter-wrapper">
      <li class="filter-button" category-id="">
        All
      </li>
      {% for project_category in project_categories  %}
      <li class="filter-button" category-id="{{project_category.id}}">
        {{project_category.name}}
      </li>
    {% endfor %}
    </ul>
  </div>
    <div class="row projects">
      
    </div>
</div>

{% render_bundle 'project_listing'  %}