@import "~bootstrap/scss/bootstrap";
$section-color: #35b993;
/* animations  */
body {
	color: #444;
	font-family: MONOSPACE;
	font-size: 14px;
	line-height: 2em;
	width: 100vw;
	box-sizing: border-box;
	overflow-x: hidden;
}

.sectionPage {
	
	padding-right: 1%;
	padding-bottom: 5%;
	padding-left: 1%;
	width: 100%;
	padding-top: 50px;
	min-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: fill;
	margin: 0 auto !important;
	.page-icon{
		width: 100%;
		height: 1em;
		display: flex;
		justify-content: center;
		font-size: 50px;
		top: -0.5em;
		position: relative;
		>div{
			background:$section-color;
			padding-left: 0.2em;
			padding-right: 0.2em;
		}
		svg{
			width: 1em;
			height: 1em;
		}
	}
	.container-fluid {
		max-width: 1300px;
		margin: auto;
	}
}
.padded-top{
	.sectionPage{
		padding-top: 77px;
		padding-top: var(--navHeight);
	}
}
.row {
	overflow: hidden;
	overflow: visible !important;
	z-index: 999 !important;
}
.navi-outline {
	border-spacing: 15px !important;
	border-radius: 1px !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: $section-color !important;
}
.navbar {
	>a {
		&:hover {
			color: rgb(255, 255, 255);
		}
	}
}
.modal-body {
	* {
		display: block;
		text-align: center;
		line-height: 150%;
	}
}
.breadcrumb {
	background-color: rgba(0, 0, 0, 0);
}
.bootstrap-select {
	overflow: visible !important;
	z-index: 999 !important;
}
.footer {
	font-size: 1.5em;
}
.btn {
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
	&:active {
		outline: none !important;
		box-shadow: none !important;
	}
}
.star-light {
	max-width: 50%;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid 0.25rem;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	border-color: #fff;
	&:after {
		
	}
}
.star-dark {
	max-width: 50%;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid 0.15rem;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	border-color: white;
	&:after {
		
	}
	svg{
		path{
			fill: white;
		}
	}
}
footer {
	padding: 5%;
	ul {
		>li {
			>a {
				color: rgb(24, 168, 187);
			}
		}
	}
}
